@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  zoom: 1.2;
}

body {
  font-family: "Consolas", "Poppins", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: #f8f8f8;
  display: flex;
  justify-items: center;
}

/* modded to have the ph be toned-down */
::placeholder {
  color: lightgray;
  opacity: 1;
}

.title {
  text-align: center;
  font-family: inherit;
}

.currency-form {
  margin: 2rem;
  width: 350px;
  display: flex;
  flex-direction: column;
}

.form-control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.currency-source,
.currency-destination {
  width: 4ch;
}

.currency-date {
  width: 12ch;
}

.conversion-result-control {
  font-size: 1.2rem;
  font-family: inherit;
  text-align: start;
  margin-left: 2rem;
}

.btn-primary {
  font-family: inherit;
  margin: 0.5em;
}

/* overriding general button margin */
.btn-submit {
  margin-left: 0;
}

.disclaimer-container {
  width: 350px;
  font-size: 0.8rem;
  margin-left: 2rem;
}

.disclaimer-heading {
  width: inherit;
  text-align: left;
}
